div.container
  div.row
    div.col-sm.status
      div
        h3 {{error.statusCode}}
        p {{error.message}}
  div.row
    div.col-sm
      div.homepage-link
        nuxt-link(to='/') Go to homepage
